* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nerko One', cursive;
  background-color: #85CEFC;
}

.container {
  width: 70% max-width: 1000px;
  margin: 0 auto;
}

header {
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
}

main .cards {
  padding: 20px 0 0;
  text-align: center;
}

main .card_item {
  display: inline-block;
  width: 200px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card_name {
  position: absolute;
  bottom: 10px;
  left: 30px;
  right: 30px;
  font-size: 30px;
}

img {
  width: 100%;
  padding: 20px;
}

#air-balloon_text {
  color: orange;
}

#bicycle_text {
  color: green;
}

#cruise-ship_text {
  color: red;
}

#submarine_text {
  color: blue;
}

#tram_text {
  color: grey;
}

#tractor_text {
  color: brown;
}

.footer_container {
  text-align: center;
  margin-top: 20px;
}
